.header {
  &__group {
    position: absolute;
    right: 50px;
    top: 20px;
    height: 48px;
    padding-right: 4px;
  }
  &__link {
    font-size: 13px;
    color: #f1f1f1;
    padding-right: 15px;
    cursor: pointer;
  }
}
