#main {
  background-image: url("/images.google/genshin.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
}

.main {
  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    padding: 12px 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #fff;
    color: #212121;
    font-size: 16px;
    font-weight: 100;
    transition: border-color 250ms ease-in;
    width: 100%;
    min-width: 360px;

    @media screen and (min-width: 768px) {
      min-width: 561px;
    }
    transition: border-radius 200ms linear 250ms,
      border-bottom-color 0ms linear 250ms;

    border-bottom: 1px solid transparent;

    &:focus {
      border-radius: 12px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid #717171;
      transition: border-radius 200ms linear,
        border-bottom-color 0ms linear 200ms;
    }
  }
  &__input-wrapper {
    position: relative;
    &:focus-within + .main__list {
      max-height: 200px;
      transition: max-height 250ms linear 200ms;
    }
  }
  &__input-icon {
    background-image: url(../../images.google/furfur.svg);
    width: 24px;
    height: 24px;
    left: 15px;
    @extend %icon;
  }
  &__input-microphone {
    background-image: url(../../images.google/mike.svg);
    right: 15px;
    cursor: pointer;
    width: 26px;
    height: 44px;
    @extend %icon;
  }
  &__logo {
    fill: #eee;
    & > svg {
      width: 270px;
      height: 127px;
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    transition: max-height 250ms linear;
    min-width: 561px;
    & > li {
      padding: 10px 20px;
    }
  }
}
